$font-family: 'Open Sans', sans-serif;
$font-family-title: 'Literata', serif;
$font-family-alternative: 'Literata', serif;

$font-color-white: #FFFFFF;
$font-color-gray: #9B9B9B;
$font-color-black: #333333;
$font-color-blue: #6DCBFF;
$font-title-size: 40px;
$font-title-mobile-size: 40px;
$font-subtitle-size: 18px;
$font-subtitle-mobile-size: 18px;
$font-block-title-size: 18px;
$font-block-title-mobile-size: 18px;
$font-block-text-size: 14px;
$font-block-text-mobile-size: 14px;
$font-section-title-size: 18px;
$font-section-title-mobile-size: 18px;
$font-article-link-size: 18px;
$font-article-link-mobile-size: 18px;
$font-input-label-size: 14px;
$font-input-label-mobile-size: 14px;
$font-button-size: 16px;
$font-button-mobile-size: 16px;
$letter-spacing: 1.5px;
$font-weight-light: 300;


$font-text-size: 18px;
$font-text-size-mobile: 16px;
$font-input-size: 16px;
$font-input-color: #CC7B7B;
$font-regular-size: 16px;
$font-regular-mobile-size: 14px;
$font-regular-weight: 400;
$font-red: #EB6073;
$font-red-hover: #FF3838;
$font-black: #684A72;
$font-purple: #684A72;
$font-purple-hover: #885C96;
$font-blue: #24A3FF;
$font-line-height-mobile: 1.5;
$font-line-height: 1.5;

$font-block-text-line-height: 18px;

$background-purple: #684A72;
$background-red: #EB6073;
$background-white: #FFFFFF;

$border-radius: 5px;
$border-color-red: #FF7A7A;
$border-color-red-hover: #FF3838;
$border-color-purple: #684A72;
$border-color-purple-hover: #885C96;
$border-input-color: #CC7B7B;